In [46]:
from wordcloud import WordCloud,STOPWORDS
import os
import nltk 
import nltk.corpus
import pandas as pd
from nltk.tokenize import word_tokenize as wt
from string import punctuation
import matplotlib.pyplot as plt
from collections import Counter
from nltk.tokenize import TweetTokenizer

In [47]:
import pandas as pd
import numpy as np

In [48]:
data_test=pd.read_csv("test.csv")
data_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [49]:
data_train=pd.read_csv("train.csv")
data_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [50]:
data_train.shape

(7613, 5)

In [51]:
data_train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [52]:
data_train['keyword'].unique()

array([nan, 'ablaze', 'accident', 'aftershock', 'airplane%20accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew%20up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown%20up', 'body%20bag', 'body%20bagging',
       'body%20bags', 'bomb', 'bombed', 'bombing', 'bridge%20collapse',
       'buildings%20burning', 'buildings%20on%20fire', 'burned',
       'burning', 'burning%20buildings', 'bush%20fires', 'casualties',
       'casualty', 'catastrophe', 'catastrophic', 'chemical%20emergency',
       'cliff%20fall', 'collapse', 'collapsed', 'collide', 'collided',
       'collision', 'crash', 'crashed', 'crush', 'crushed', 'curfew',
       'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths', 'debris',
       'deluge', 'deluged', 'demolish', 'demolished', 'demolition',
       'derail', 'derailed', 'derailment', 'desolate', 'desolation',
       'destroy', 'destroyed', 'destruction', 'detonate', 'detonation',
       'devastated', 'devastation', 'disaster', 'displaced', 'drought',
       'drown', 'drowned', 'drowning', 'dust%20storm', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'emergency%20plan',
       'emergency%20services', 'engulfed', 'epicentre', 'evacuate',
       'evacuated', 'evacuation', 'explode', 'exploded', 'explosion',
       'eyewitness', 'famine', 'fatal', 'fatalities', 'fatality', 'fear',
       'fire', 'fire%20truck', 'first%20responders', 'flames',
       'flattened', 'flood', 'flooding', 'floods', 'forest%20fire',
       'forest%20fires', 'hail', 'hailstorm', 'harm', 'hazard',
       'hazardous', 'heat%20wave', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'loud%20bang', 'mass%20murder',
       'mass%20murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural%20disaster', 'nuclear%20disaster',
       'nuclear%20reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil%20spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation%20emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural%20failure', 'suicide%20bomb', 'suicide%20bomber',
       'suicide%20bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent%20storm', 'volcano', 'war%20zone', 'weapon', 'weapons',
       'whirlwind', 'wild%20fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [53]:
list(data_train['location'].unique())

[nan,
 'Birmingham',
 'Est. September 2012 - Bristol',
 'AFRICA',
 'Philadelphia, PA',
 'London, UK',
 'Pretoria',
 'World Wide!!',
 'Paranaque City',
 'Live On Webcam',
 'milky way',
 'GREENSBORO,NORTH CAROLINA',
 'England.',
 'Sheffield Township, Ohio',
 'India',
 'Barbados',
 'Anaheim',
 'Abuja',
 'USA',
 'South Africa',
 'Sao Paulo, Brazil',
 'hollywoodland ',
 'Edmonton, Alberta - Treaty 6',
 'Inang Pamantasan',
 'Twitter Lockout in progress',
 'Concord, CA',
 'Calgary, AB',
 'San Francisco',
 'CLVLND',
 'Nashville, TN',
 'Santa Clara, CA',
 'UK',
 'St. Louis, MO',
 'Walker County, Alabama',
 'Australia',
 'North Carolina',
 'Norf Carolina',
 'San Mateo County, CA',
 'Njoro, Kenya',
 "Your Sister's Bedroom",
 'Arlington, TX',
 'South Bloomfield, OH',
 'New Hanover County, NC',
 'Maldives',
 'Manchester, NH',
 'Wilmington, NC',
 'global',
 'Alberta | Sask. | Montana',
 'Charlotte',
 'Baton Rouge, LA',
 'Hagerstown, MD',
 'Gloucestershire , UK',
 'Nairobi, Kenya',
 'Instagram - @heyimginog ',
 '304',
 'Switzerland',
 'US',
 'Somewhere Only We Know ?',
 'Belgium',
 'dope show',
 'Oshawa, Canada',
 'Baker City Oregon',
 'United States',
 'marysville ca ',
 'Hermosa Beach, CA',
 '19.600858, -99.047821',
 'Pennsylvania',
 'Salt Lake City, Utah',
 'Palo Alto, CA',
 'Spain but Opa-Locka, FL',
 'Jaipur, India',
 'Hyderabad Telangana INDIA',
 'Eagle Pass, Texas',
 'bangalore',
 'Financial News and Views',
 'Indonesia',
 'y(our) boyfriends legs ',
 'New Mexico, USA',
 'Somewhere Out There',
 'Mumbai india',
 'sri lanka',
 'Not a U.S resident',
 'Lehigh Valley, PA',
 'Canada',
 'Thrissur',
 'Havenford',
 '92',
 'Israel',
 'Fashion Heaven. IG: TMId_',
 'San Francisco, CA',
 'italy',
 'nyc',
 'Toronto',
 'Jackson',
 'New York / Worldwide',
 'New Orleans, LA',
 'West Wales',
 'Happily Married with 2 kids ',
 'Cambridge, MA',
 'Arizona ',
 'Mumbai',
 'Amsterdam',
 'Swindon,England ',
 'Williamstown, VT',
 'North Carolina, USA',
 'Karachi',
 'Loveland Colorado',
 '|| c h i c a g o ||',
 'L. A.',
 'VISIT MY YOUTUBE CHANNEL.',
 'Lexington',
 'Hannover, Germany',
 'Playa',
 'Davidson, NC',
 'Higher Places',
 'Horsemind, MI',
 'New York, NY',
 'Boksburg',
 'V-RP @OZRP_ ?MV, AU, R18+?',
 'Greater Manchester, UK',
 'Boston',
 'The Canopy Kingdom',
 'the own zone layer ',
 'London',
 'Trancy Manor',
 'South 37',
 'West Lancashire, UK.',
 'PA',
 '\x89Û¢ Views From The Six \x89Û¢',
 'University of Toronto',
 'Swaning Around',
 'Albany/NY',
 'California, USA',
 'Wild Wild Web',
 'Subconscious LA',
 'Spain',
 'CA physically- Boston Strong?',
 'Yeezy Taught Me , NV',
 'Rock Hill, SC',
 'Coolidge, AZ',
 'Republic of Texas',
 'Phoenix, AZ',
 'Ljubljana, Slovenia',
 'Connecticut',
 'Tacoma,Washington',
 'BIG D  HOUSTON/BOSTON/DENVER',
 'Chandler, AZ',
 'ColoRADo',
 'sindria',
 'Texas',
 'Elk Grove, CA, USA',
 'The Shire',
 'Austin, TX',
 'Oakland',
 'Albuquerque',
 'Buenos Aires, Argentina',
 'San Antonio-ish, TX',
 'Oregon, USA',
 'Harlingen, TX',
 'Buffalo NY',
 'Las Vegas',
 'Tokyo',
 'California, United States',
 '#FLIGHTCITY UK  ',
 'Alphen aan den Rijn, Holland',
 'Wrigley Field',
 'probably the strip club',
 'England',
 'New York City',
 'Here And There',
 'Rotterdam, Zuid-Holland',
 'Derry, 17 ',
 'Nowhere. Everywhere.',
 'Florida, USA',
 'Worldwide',
 'East Coast',
 'California',
 'Toronto, ON',
 'The Orwellion police-state',
 'Castaic, CA',
 'Helsinki, Finland',
 'East Kilbride',
 'middle eastern palace',
 'Kent',
 'Perthshire ',
 'twitch.tv/naturalemblem26',
 'cyprus',
 'Memphis, TN',
 'Studio',
 'Hollywood, CA',
 'New York',
 'Pakistan',
 'Mexico! ^_^',
 'Campinas Sp',
 'Harlem, New York',
 'Washington, DC',
 'Burbank,CA',
 '? ',
 'Spokane, Washington',
 'Charlotte, NC',
 'Our Empire State',
 'Jerusalem',
 'Kingston, Pennsylvania',
 'Milwaukee, WI',
 'Zero Branco',
 'bajaur',
 'Eldoret, kenya',
 '\x89ÛÊ\x89ÛÊ\x89ÛÊ',
 'Miami,FL',
 'Los Angeles, CA',
 'North-East Region, Singapore',
 'Chicago',
 'EARTH ',
 'Jerusalem, Israel',
 'Menasha, WI',
 'ss',
 'Atlanta',
 'Earth',
 'Bleak House',
 'heccfidmss@gmail.com',
 'toronto',
 '[ Blonde Bi Fry. ]',
 'America',
 'NYC :) Ex- #Islamophobe',
 'SF Bay Area',
 'Orange County, California',
 'Winston Salem, North Carolina',
 'Adelaide, South Australia',
 'WASHINGTON,DC',
 ' snapchat // fvck_casper ',
 'Dallas, TX',
 'NYC',
 'Location',
 'Selena | Britney | Hilary',
 'Ireland',
 'Freeport IL. USA',
 'Dubai',
 'Tucson, Az',
 'Seattle WA',
 'Bellevue NE',
 'West Bank, Gaza Strip',
 '\x89Û¢FLG\x89Û¢',
 'Scotland, United Kingdom',
 'Online 24/7. Not even kidding.',
 'rowyso dallas ',
 'Halton, Ontario',
 'portland, oregon',
 'FIMAK A.S Ist Bolge Muduru',
 'London.',
 '#UNITE THE BLUE  ',
 'Dayton, Ohio',
 'Global',
 'ph',
 'Port Jervis, NY',
 'City Of Joy',
 'Texas, USA',
 '1/3 of the blam squad ',
 'CCH ',
 'atx',
 'MAURITIUS',
 'AKRON OHIO USA',
 'london / st catharines ?',
 'Peshawar',
 'LEALMAN, FLORIDA',
 '#GDJB #ASOT',
 'Groningen, Netherlands, Europe',
 'Livingston, IL  U.S.A.',
 'Arundel ',
 'Anna Maria, FL',
 'israel',
 'The Hammock, FL, USA',
 '??????????????????',
 'SÌ£o Paulo SP,  Brasil',
 "in Dimitri's arms",
 'Oslo, Norway',
 'Los Angeles',
 'Loughton, Essex, UK',
 'guaravitas',
 'Score More Goals Buying @',
 'NEW YORK',
 'London, Kent & SE England.',
 'Score Team Goals Buying @',
 'South Central Wales',
 'Jersey City, New Jersey',
 'Denver, CO',
 'Brasil',
 'Buy Give Me My Money ',
 '505 W. Maple, Suite 100',
 'Philippines',
 'Freeport il ',
 'World',
 'Danville, VA',
 'UK Great Britain ',
 'Jerusalem!',
 'San Jose, CA',
 'Use #TMW in tweets get #RT',
 'Utah',
 'Wisconsin',
 'West Richland, WA',
 'CHICAGO (312)',
 'Washington D.C.',
 'NC',
 'West Virginia, USA',
 'British girl in Texas',
 'Silver Spring, MD',
 'Atlanta, GA',
 'Manhattan, NY',
 'Wilmington, DE',
 'Memphis',
 'iTunes',
 'Oxford, MS',
 'Pelham, AL',
 'Jacksonville, FL',
 'Arkansas, Jonesboro',
 'Across the Atlantic',
 'Melbourne, Florida',
 'Over the Moon...',
 'Extraterrestrial Highway',
 'Espoo, Finland',
 'Washington, D.C., area',
 'OES 4th Point. sisSTAR & TI',
 'Sydney, New South Wales',
 'Netherlands,Amsterdam-Virtual ',
 'Hudson Valley, NY',
 'timeline kamu',
 'Budapest, Hungary',
 'Searching for Bae ',
 'Eagle Mountain, Texas ',
 'Columbus',
 'Temecula, CA',
 'Atlanta,Ga',
 'Fresno, CA',
 'Raleigh Durham, NC',
 'ducked off . . . ',
 'Rio de Janeiro',
 '302',
 'Columbus, OH',
 'Mo.City',
 'Tripsburg, ms.',
 'Durham N.C ',
 'Delhi',
 'ARIZONA',
 'Penn Hills, PA',
 'Karachi ',
 'seattle wa',
 'SOUTHERN CALIFORNIA DESERT',
 'Gotham City',
 'My contac 27B80F7E 08170156520',
 'Pig Symbol, Alabama',
 'Intramuros, Manila',
 'THE WORLD T.G.G / M.M.M ',
 'Between the worlds ',
 'State of Georgia',
 'Your screen',
 'Lima-Peru',
 'worldwide',
 'Saltillo, Coahuila de Zaragoza',
 'Suitland',
 'Everywhere',
 'Konoha',
 'Swag Francisco',
 'Saint Marys, GA',
 'Nigeria',
 'Essex/Brighton',
 'Pennsylvania, PA',
 'Rockford, IL',
 'AZ',
 'Vero Beach , FL',
 'IN',
 'In the middle of no where',
 'Baltimore, MD',
 'dmv ?? fashion school @ KSU. ',
 'Nice places ',
 'Quantico, VA',
 'Island Lake, IL',
 'Live Oak, TX',
 'Gages Lake, IL',
 'Madisonville TN',
 'Basketball City, USA ',
 'AEP',
 'Alberta Pack',
 '#expelcl*y',
 'My heart is a ghost town!',
 'The Great State of Texas',
 'Alicante, Valencia',
 'Greensboro, NC',
 ' Indiana',
 'the local dump',
 'Seattle',
 '#SOUTHAMPTON ENGLAND',
 '?205?478?',
 'Waterford MI',
 'Iowa, USA',
 'va',
 'Florida',
 'california mermaid ? ',
 'New York ? ATL',
 'USA/SO FLORIDA via BROOKLYN NY',
 'H / pez & sophia ',
 'Brooklyn, NY',
 'Queens, NY',
 'Vancouver, BC.',
 'Ottawa, Canada',
 'wherever the $$$ at',
 'Purgatory, USA',
 'Calgary, Alberta',
 'Kama | 18 | France ',
 'Sydney',
 'Maryland, USA',
 'Daruka (near Tamworth) NSW',
 'IJmuiden, The Netherlands',
 'University Heights, Ohio',
 'Central Illinois',
 'Baton Rouge',
 'PSN: Pipbois ',
 'Colombo,Sri Lanka.',
 'Johannesburg, South Africa ',
 "Me mammy's belly",
 'UK & Ibiza',
 'Laventillemoorings ',
 'Scotland',
 'Vancouver, BC',
 'Cleveland, OH',
 'Detroit, MI, United States',
 'Guelph Ontario Canada',
 'Waterfront',
 'columbus ohio',
 'Waukesha, WI',
 'Himalayan Mountains',
 'Colorado/WorldWide',
 'Ontario Canada',
 'Houston,  TX',
 'lakewood colorado',
 'THE 6IX',
 'Washington, USA',
 'The ?? below ???',
 'Ideally under a big tree',
 "Conversing In Janet's CafÌ¬",
 "???????, ??'??????",
 "Dime's Palace",
 'Cairo, Egypt',
 'Seattle, WA',
 'Bug Forest',
 'canberra',
 'International',
 'The World',
 'Htx',
 'PunPunlÌ¢ndia',
 '???',
 'Itirapina, SÌ£o Paulo',
 'North Jersey',
 'Ewa Beach, HI',
 'Biloxi, Mississippi',
 'Buenos Aires',
 'Brecksville, OH',
 'Walthamstow, London',
 'Malaysia',
 'Ivano-Frankivsk',
 'Sunshine Coast, Queensland',
 'England,UK,Europe,Sol 3.',
 'Nashua NH',
 'Leicester',
 '65',
 'Westchester',
 'Lynnfield, MA',
 'Level 3 Garrison, Sector G',
 'Singapore',
 'Glasgow',
 'Shity land of Northern Ireland',
 'Christchurch New Zealand',
 'peekskill. new york, 10566 ',
 'PH',
 'Storybrooke ',
 'under the blanket',
 'Isolated City In World Perth',
 'Brazil ',
 'AUS',
 'Santa Cruz, CA',
 'Inverness, Nova Scotia',
 'L/S/Z/L/T/H/C/H/R/A/S/C',
 'Oklahoma',
 '801 SL,UT',
 'fluffy cloud',
 'The 5th Dimension. ',
 'Georgia',
 'July 11th, 2015. ?',
 'The Grey Area',
 'St Paul, MN',
 'Cobblestone',
 'ÌÏT: 30.307558,-81.403118',
 'Cosmic Oneness',
 'Guildford, UK',
 'Nowhere Islands/Smash Manor',
 'kisumu',
 'Making Worldwide Change Near U',
 'ATX',
 'LA/OC/Vegas',
 'London/Outlaw Country ',
 'Grimsby, England',
 'Gotham',
 'Manchester, The World, England',
 'sitting on Eddie Vedders lap,',
 'Missouri, USA',
 'Greenville,SC',
 'Paignton',
 'have car; will travel',
 'ATL ? SEA ',
 'ÌÏT: 39.982988,-75.261624',
 '#EngleWood CHICAGO ',
 '302???? 815',
 'New Your',
 'PURPLE BOOTH STUDIO\x89ã¢',
 'Cloud 9',
 'Former Yugoslav Republic of Macedonia',
 '3?3?7?SLOPelousas??2?2?5?',
 '316',
 "#WhereverI'mAt",
 'Huber Heights, OH',
 'Miami ??',
 'Houston, TX',
 'Every where',
 "401 livin'",
 'MI',
 'EPTX',
 'Austin, Texas',
 'Oklahoma City',
 'CA',
 'United Kingdom',
 'WESTSIDE OF PHILLY 7? BLOCK??',
 'Charlotte NC',
 'LONG ISLAND, NY',
 'washington, d.c.',
 'WAISTDEEP, TX',
 'D.C. - Baltimore - Annapolis',
 '#937??#734',
 'Fife, WA',
 'Bushkill pa',
 'In the Shadows...',
 'southwest, Tx',
 'ANYWEHERE !!',
 'Menlo Park. SFO. The World.',
 'Speaking the Truth in Love',
 'Aarhus, Central Jutland',
 'Lincoln, NE',
 'wny',
 'Bolton & Tewkesbury, UK',
 "travelling to tae's pants",
 'keli x',
 'Manchester',
 'Knoxville, TN',
 'ChicagoRObotz',
 "whs '17",
 'NV',
 'lagos nigeria',
 'Edmonton, Alberta',
 '[Gia.] | #KardashianEmpire',
 'Sunrise Manor, NV',
 'Oxford, OH',
 'Odawara, Japan',
 'Chicago, IL',
 'Des Moines, IA',
 'Dundas, Ontario',
 'IDN',
 'Netherlands',
 'DaKounty, Pa',
 'DÌ_sseldorf, Germany',
 'Old Blighty',
 '??',
 'The land of New Jersey. ',
 'Atlanta Georgia',
 'MY RTs ARE NOT ENDORSEMENTS',
 'Kabul, Tuebingen, Innsbruck',
 'Light and dark, form and void',
 'Nairobi, Kenya ',
 'Erbil',
 'Stockton on tees Teesside UK',
 'Screwston, TX',
 'My old New England home',
 'melbourne',
 'Cape Town',
 'Ikeja, Nigeria',
 'Warwick, RI @Dollarocracy also',
 'texas a&m university',
 'MA',
 'Shipwreck Cove',
 'Sydney, Australia',
 'WorldWide',
 'Overland Park, KS',
 'SWMO',
 'Puerto Rico',
 'Toronto-Citizen of Canada & US',
 'Silicon Valley',
 'North East USA',
 'Washington, D.C.',
 'VitÌ_ria (ES)',
 'New Delhi, Delhi',
 'Buscame EL tu Melte',
 'Wiltshire',
 'PROUD INDIANS',
 'Mumbai , India',
 'Pittsburgh PA',
 'MUM-DEL',
 'Leeds, England',
 'Playa del Carmen, Mexico',
 'NY, CT & Greece',
 'Mackay, QLD, Australia',
 'Quincy MA',
 'NJ',
 'Madison, GA',
 'KurveZ@GearHeadCentral.net',
 'St Charles, MD',
 'Denver, Colorado',
 'Ziam af ',
 'GO BLUE! HAIL YES!!',
 'Outside The Matrix, I Think.',
 'In Hell',
 'Epic City, BB.',
 'somewhere over a rainbow',
 'Selma2Oakland',
 'Bombardment Bay',
 'Savannah, GA',
 'dallas',
 'New Orleans ,Louisiana',
 'England, United Kingdom',
 'Dublin City, Ireland',
 'New Hampshire',
 'World Wide',
 'Intermountain West',
 'Tulsa, Oklahoma',
 'Auburn, AL',
 'taken by piper curda',
 'Scotland ',
 'Nigeria, Global',
 'Fort Walton Beach, Fl',
 'Sweden',
 'Groton, CT',
 'Brisbane Australia',
 'NY Capital District',
 'Peoria',
 'Reading UK',
 'Concord, NH ',
 'CORNFIELDS',
 'Worcester, MA',
 'Roanoke, VA',
 'nj',
 'MA via PA',
 'Boston, MA',
 'Oklahoma City, OK',
 'toronto \x89Û¢ dallas',
 'San Diego CA',
 'germany',
 'Massachusetts',
 ' Nxgerxa',
 'Erie, PA',
 'Port Charlotte, FL',
 'Belleville, Illinois',
 'Alabama',
 'Long Island NY & San Francisco',
 'Gainesville, FL',
 'Oakland, CA',
 '956',
 'Escondido, CA',
 'DC',
 'Chicago Area',
 'Upper St Clair, PA',
 'Cherry Creek Denver CO',
 '627',
 'Blogland',
 'mumbai',
 'Isle of Man',
 'Hampton Roads, VA',
 'Gameday',
 'Earthling (For now!)',
 'Black Canyon New River, AZ',
 'Caracas, Venezuela.',
 'NY',
 'Charlottetown',
 'Paradise, NV',
 '??t?a',
 'LiÌ¬ge',
 'Spokane, Washington 99206',
 'taco bell',
 'Australian Capital Territory',
 'http://www.amazon.com/dp/B00HR',
 '[ kate + they/them + infp-t ]',
 'Sacramento, CA',
 'please H? ?:??',
 'we?it \x89Û¢ ixwin',
 'Santiago Bernabeau',
 'y/e/l',
 'Whiterun, Skyrim',
 'Greenpoint, Brooklyn',
 'Victoria, British Columbia',
 'a botanical garden probably',
 'Nelspruit, South Africa',
 'midwest',
 'Copenhagen, Capital Region of Denmark',
 'Spying on your thoughts',
 'seattle grace mercy death',
 'Tucson, Arizona ',
 'Charlotte County Florida',
 'Head Office: United Kingdom',
 'Mid north coast of NSW',
 'iPhone: -27.499212,153.011072',
 'Queen Creek AZ',
 'Jamaica',
 'Trinidad and Tobago',
 'Melbourne Australia',
 'The Internet & NYC',
 'London/Bristol/Guildford',
 'Canberra, Australian Capital Territory',
 'beacon hills ',
 'somewhere outside',
 'Wolmers Trust School for Boys ',
 'Loughborough.',
 'Selangor',
 'indiana',
 'Bronx, New York',
 'Canadian bread',
 "Le Moyne '16",
 'Hoxton, London',
 'Las Vegas, NV USA',
 'Heinz Field ',
 'Skyport de la Rosa',
 'The Low-Cal Calzone Zone',
 'Brooklyn, New York',
 '50% Queanbeyan - 50% Sydney',
 'Insula Barataria',
 'everywhere ',
 'Afghanistan, USA',
 'Inglewood, CA',
 'Absecon, NJ',
 'Williamsbridge, Bronx, New Yor',
 'Northern Kentucky, USA',
 'Mostly Yuin.',
 'Nairobi',
 'Rochelle, GA',
 'London UK',
 'south of heaven ',
 'El Dorado, KS',
 'Santa Monica, CA',
 'Kenya',
 '1648 Queen St. West, Toronto.',
 'Toledo, OH',
 'Fairfield, California',
 'Trinity, Bailiwick of Jersey',
 'Virginia',
 'LIVERPOOL',
 'Boulder, CO',
 'Hospital, bc of SKH vid.',
 'Hartford  London Hong Kong',
 "In @4SkinChan 's arms",
 'Massachusetts, USA',
 'Kansas City, MO',
 'Wellington, New Zealand',
 '?? ??',
 'los angeles, ca',
 'New Brunswick, NJ',
 'City of Angels, CA',
 'Morganville, Texas.',
 'America | New Zealand ',
 'Stockholm, Sweden',
 'Azeroth',
 "Lytham St Anne's ",
 'Ylisse',
 'Portugal',
 'All around the world baby',
 '@UntmdOutdoors #T.O.R.K ',
 'Lima, PerÌ¼',
 'Piedmont Area, North Carolina',
 'Buxton, Venice, and Nottingham',
 'Quito, Ecuador.',
 'Inexpressible Island ',
 ' Bouvet Island',
 'Shirley, NY',
 'Planet Earth',
 'Paonia, Colorado ',
 'Portland, OR',
 'Dublin, Ireland',
 'Lurking',
 'N?? Y???.',
 'Littleton, CO, USA',
 'Virginia, United States',
 'Center for Domestic Preparedness',
 'Ukraine and Ireland',
 'Welt',
 'Wales',
 'Seattle, Washington',
 'Beaumont, TX',
 'Annapolis, MD',
 'Las Vegas, Nevada',
 'Harris County, Texas',
 'Tyler, TX',
 'Evanston, IL',
 'North Ferriby, East Yorkshire',
 'Colombia',
 'Ames, Iowa',
 'Moscow, Russia',
 'Jersey City, NJ',
 'Mankato, MN',
 'Orbost, Victoria, Australia',
 ' Somewhere.',
 ' Neverland ',
 'London, England',
 'At Da Laundry Mat Wit Nivea ',
 'norway',
 '$ad $hawty',
 'NY || live easy? ',
 'BestCoast',
 'BC',
 'Abuja, Nigeria',
 'Colchester Essex ',
 'livin life in the 610',
 'Suplex City',
 'Inside your mind.',
 '36 & 38',
 'Sydney Australia',
 'Lagos, Nigeria',
 'New York, NY ',
 'Slappin and Smackin ',
 "DRAW A CIRCLE THAT'S THE EARTH",
 'Madrid, Comunidad de Madrid',
 'The Netherlands',
 'Highland Park, CA',
 'Swan River',
 'Kolkata, India',
 'Melrose',
 'Jubail IC, Saudi Arabia',
 'Sugarhouse, UT',
 'lugo',
 'Chicago, Illinois',
 'Blackpool, England, UK.',
 'San Jose, California',
 'Fakefams',
 'In the clouds...',
 'Sandton, South Africa',
 'Nigeria ',
 '#Bummerville otw',
 'Europe',
 'Brighton and Hove',
 'Pompano Beach, FL',
 'JKT48-Muse-A7X',
 'Behind The Obama Curtain',
 'Worldwide.',
 'LiVE MÌ\x81S',
 'Henderson, NV',
 'CAMARILLO, CA',
 'manchester, uk.',
 'Eugene, Oregon',
 'they/her',
 'Paris ',
 '(he/him)',
 'Kingston, Jamaica',
 'Spokane, WA',
 "I'm standing behind you",
 'Alexandria, Egypt.',
 'instagram- Chloe_Bellx',
 'on the web',
 'San Francisco Bay Area',
 '#ForeverWithBAP 8 ',
 'GOT7SupportPH',
 'wherever-the-fuck washington',
 'From NY. In Scranton, PA',
 'Perth, Western Australia',
 'Live mÌÁs',
 'Melton, GA',
 "Greg's place",
 'Viejo',
 'Kansas, The Free State! ~ KC',
 'Silang, Cavite / ParaÌ±aque',
 'Fort Smith, AR',
 'planeta H2o',
 'www.youtube.com?Malkavius2',
 'Michigan',
 'The Forever Girl',
 'EspÌ_rito Santo',
 'New York, USA',
 'Ormond By The Sea, FL',
 'Maryland,Baltimore',
 'Pennsylvania, USA',
 'Houston, Texas',
 'Yadkinville, NC',
 'Medford, NJ',
 'Dallas, Texas. ',
 'Roanoke VA',
 'Unnamed City',
 'Peterborough, On',
 '-6.152261,106.775995',
 "@protectingtitan's side.",
 'Oregon',
 'Eau Claire, Wisconsin',
 'St. Joseph, Minnesota',
 'From a torn up town MANCHESTER',
 'Waco TX',
 'Tennessee',
 'Cape Cod, Massachusetts USA',
 'bk. ',
 'Lansing, Michigan',
 'Peterborough, Ont.',
 'Johannesburg, South Africa',
 'On the court ',
 'Traverse City, MI',
 'See the barn of bleakness',
 'Hertfordshire ',
 'ÌÏT: 41.252426,-96.072013',
 'California ',
 'Greeley, CO',
 "'soooota",
 'Sacramento',
 'Ontario, Canada',
 'NY, NY',
 'Arvada, CO',
 'Maryland',
 'Vancouver, Colombie-Britannique',
 'Irving , Texas',
 'Riverside, CA',
 'SEATTLE, WA USA',
 'USA , AZ',
 'East Atlanta, Georgia',
 'Saint Lucia',
 'Peterborough, Ontario, Canada',
 'Colorado',
 'North Highlands, CA',
 'Vancouver',
 '60th St (SS)',
 'USA, WA',
 'btwn a rock and a hard place',
 'Aix-en-Provence, France',
 'Liverpool',
 'I-75 in Florida',
 '21.462446,-158.022017',
 'Melbourne, Australia',
 'Darlington',
 '  Melbourne, Australia',
 'Kenton, Ohio',
 'Galatians 2:20 ',
 'Charleston, SC',
 'Lancaster, Pennsylvania, USA',
 'In my own world!!!',
 'Definitely NOT the stables',
 'Cuernavaca, Morelos, MÌ©xico.',
 'Va Beach, Virginia',
 '52.479722, 62.184971',
 'The Pig Sty',
 'Bangor, Co.Down',
 'Weston super mare',
 'Victoria, Tx.',
 'Pakistan, Islamabad',
 'Gujranwala, Pakistan',
 'Lindenhurst',
 'Islamabad',
 'Somewhere',
 'too far',
 'Kingswinford',
 'i love the smurfs 2',
 'International ',
 "Viterbo BFA Acting '18",
 'Kaneohe',
 'Houma La',
 "EastAtlanta ??#WestGeorgia'18",
 'San Antonio, TX',
 'Cleveland, Ohio',
 'San Diego, Texas.',
 'GLOBAL',
 '05/04/2014 18:23 ?',
 'Bolivar, MO',
 'taking pain like pleasure',
 'San Fransokyo',
 'Washington, DC NATIVE',
 'Miami, FL',
 'w. Nykae ',
 'honeymoon avenue',
 'Toronto, Worldwide ',
 '11/4/14',
 "wherever there's netflix",
 '#HAMont',
 'U.K.',
 'online ',
 'Conroe, TX',
 'Ontario, Canada. ',
 'Guayaquil',
 'bahstun/porta reeko',
 'Bucks County, Pa',
 'Sunny South florida ',
 'Rio',
 'Neverland',
 'Trinidad & Tobago',
 'Chicago - Lake Buena Vista',
 'Toronto, Ontario',
 'Liberty Lake, WA',
 'Ankara - Malatya - ad Orontem',
 'antioch, california',
 'State College, PA',
 'somewhere in cali ',
 'Im Around ... Jersey',
 'Garden Grove',
 'Adelaide, Australia',
 'BKI-KUA',
 'urÌ£nus',
 'Illinois, USA',
 ...]

In [54]:
data_train['target'].unique()

array([1, 0], dtype=int64)

In [55]:
data_train[data_train['target']==1].text.values

array(['Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all',
       'Forest fire near La Ronge Sask. Canada',
       "All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected",
       ...,
       'M1.94 [01:04 UTC]?5km S of Volcano Hawaii. http://t.co/zDtoyd8EbJ',
       'Police investigating after an e-bike collided with a car in Little Portugal. E-bike rider suffered serious non-life threatening injuries.',
       'The Latest: More Homes Razed by Northern California Wildfire - ABC News http://t.co/YmY4rSkQ3d'],
      dtype=object)

In [56]:
data_train[data_train['target']==0]

,id,keyword,location,text,target
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0
...,...,...,...,...,...
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0
7582,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0
7584,10837,NaN,NaN,These boxes are ready to explode! Exploding Ki...,0
7587,10841,NaN,NaN,Sirens everywhere!,0
7593,10848,NaN,NaN,I just heard a really loud bang and everyone i...,0

In [57]:
stopwords = list(set(STOPWORDS))
tt=TweetTokenizer()

In [58]:
rm=[]
for i in stopwords:
    if i in rm:
        stopwords.remove(i)
pun=list(punctuation)

not_list=pun+stopwords


def clean(x):
    tokens=tt.tokenize(x.lower())
    return " ".join([j for j in tokens if j not in not_list])

In [59]:
data_train['clean_text']=data_train['text'].apply(lambda x:(clean(x)))

In [60]:
data_train.head()

,id,keyword,location,text,target,clean_text
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deeds reason #earthquake may allah forgive us
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,residents asked shelter place notified officer...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive #wildfires evacuation or..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby #alaska smoke #wildfires p...

In [61]:
data_train.shape

(7613, 6)

In [62]:
data_test['clean']=data_test['text'].apply(lambda x:clean(x))

In [63]:
data_test.head()

,id,keyword,location,text,clean
0,0,NaN,NaN,Just happened a terrible car crash,happened terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",heard #earthquake different cities stay safe e...
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",forest fire spot pond geese fleeing across str...
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,apocalypse lighting #spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,typhoon soudelor kills 28 china taiwan

from sklearn.feature_extraction.text import CountVectorizer
count_vect=CountVectorizer(max_features=1200)

In [64]:
X=data_train.clean_text.values
Y=data_train['target']

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,Y,test_size=0.10,random_state=42)

In [66]:
from sklearn.feature_extraction.text import TfidfVectorizer
count_vect=TfidfVectorizer(max_features=1200)
x_train_bow=count_vect.fit_transform(X_train)
x_test_bow=count_vect.transform(X_test)
x_ttest_bow=count_vect.transform(data_test.clean.values)

In [67]:
print(x_train_bow.shape,x_test_bow.shape)

(6851, 1200) (762, 1200)

In [68]:
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.naive_bayes import MultinomialNB
alpa=[0.1,0.2,0.01,0.5,0.05,1,1.5]
for i in alpa:
    nb=MultinomialNB(alpha=i)
    nb.fit(x_train_bow,y_train)
    print(i,":",accuracy_score(y_test,nb.predict(x_test_bow))*100)

0.1 : 76.50918635170603
0.2 : 76.24671916010499
0.01 : 76.50918635170603
0.5 : 75.8530183727034
0.05 : 76.50918635170603
1 : 76.50918635170603
1.5 : 77.03412073490814

In [69]:
from sklearn.svm import LinearSVC
sv=LinearSVC()
sv.fit(x_train_bow,y_train)
accuracy_score(y_test,sv.predict(x_test_bow))*100

76.11548556430446

In [70]:
pd.DataFrame(nb.predict(x_ttest_bow)).to_csv('pred.csv')

In [71]:
#every keyword in train data is in test data

# lets clean the data more

In [72]:
import re

In [73]:
def clean1(tweet): 
            
    # Special characters
    tweet = re.sub(r"\x89Û_", "", tweet)
    tweet = re.sub(r"\x89ÛÒ", "", tweet)
    tweet = re.sub(r"\x89ÛÓ", "", tweet)
    tweet = re.sub(r"\x89ÛÏWhen", "When", tweet)
    tweet = re.sub(r"\x89ÛÏ", "", tweet)
    tweet = re.sub(r"China\x89Ûªs", "China's", tweet)
    tweet = re.sub(r"let\x89Ûªs", "let's", tweet)
    tweet = re.sub(r"\x89Û÷", "", tweet)
    tweet = re.sub(r"\x89Ûª", "", tweet)
    tweet = re.sub(r"\x89Û\x9d", "", tweet)
    tweet = re.sub(r"å_", "", tweet)
    tweet = re.sub(r"\x89Û¢", "", tweet)
    tweet = re.sub(r"\x89Û¢åÊ", "", tweet)
    tweet = re.sub(r"fromåÊwounds", "from wounds", tweet)
    tweet = re.sub(r"åÊ", "", tweet)
    tweet = re.sub(r"åÈ", "", tweet)
    tweet = re.sub(r"JapÌ_n", "Japan", tweet)    
    tweet = re.sub(r"Ì©", "e", tweet)
    tweet = re.sub(r"å¨", "", tweet)
    tweet = re.sub(r"SuruÌ¤", "Suruc", tweet)
    tweet = re.sub(r"åÇ", "", tweet)
    
    # Contractions
    tweet = re.sub(r"he's", "he is", tweet)
    tweet = re.sub(r"there's", "there is", tweet)
    tweet = re.sub(r"We're", "We are", tweet)
    tweet = re.sub(r"That's", "That is", tweet)
    tweet = re.sub(r"won't", "will not", tweet)
    tweet = re.sub(r"they're", "they are", tweet)
    tweet = re.sub(r"Can't", "Cannot", tweet)
    tweet = re.sub(r"wasn't", "was not", tweet)
    tweet = re.sub(r"don\x89Ûªt", "do not", tweet)
    tweet = re.sub(r"aren't", "are not", tweet)
    tweet = re.sub(r"isn't", "is not", tweet)
    tweet = re.sub(r"What's", "What is", tweet)
    tweet = re.sub(r"haven't", "have not", tweet)
    tweet = re.sub(r"hasn't", "has not", tweet)
    tweet = re.sub(r"There's", "There is", tweet)
    tweet = re.sub(r"He's", "He is", tweet)
    tweet = re.sub(r"It's", "It is", tweet)
    tweet = re.sub(r"You're", "You are", tweet)
    tweet = re.sub(r"I'M", "I am", tweet)
    tweet = re.sub(r"shouldn't", "should not", tweet)
    tweet = re.sub(r"wouldn't", "would not", tweet)
    tweet = re.sub(r"i'm", "I am", tweet)
    tweet = re.sub(r"I\x89Ûªm", "I am", tweet)
    tweet = re.sub(r"I'm", "I am", tweet)
    tweet = re.sub(r"Isn't", "is not", tweet)
    tweet = re.sub(r"Here's", "Here is", tweet)
    tweet = re.sub(r"you've", "you have", tweet)
    tweet = re.sub(r"you\x89Ûªve", "you have", tweet)
    tweet = re.sub(r"we're", "we are", tweet)
    tweet = re.sub(r"what's", "what is", tweet)
    tweet = re.sub(r"couldn't", "could not", tweet)
    tweet = re.sub(r"we've", "we have", tweet)
    tweet = re.sub(r"it\x89Ûªs", "it is", tweet)
    tweet = re.sub(r"doesn\x89Ûªt", "does not", tweet)
    tweet = re.sub(r"It\x89Ûªs", "It is", tweet)
    tweet = re.sub(r"Here\x89Ûªs", "Here is", tweet)
    tweet = re.sub(r"who's", "who is", tweet)
    tweet = re.sub(r"I\x89Ûªve", "I have", tweet)
    tweet = re.sub(r"y'all", "you all", tweet)
    tweet = re.sub(r"can\x89Ûªt", "cannot", tweet)
    tweet = re.sub(r"would've", "would have", tweet)
    tweet = re.sub(r"it'll", "it will", tweet)
    tweet = re.sub(r"we'll", "we will", tweet)
    tweet = re.sub(r"wouldn\x89Ûªt", "would not", tweet)
    tweet = re.sub(r"We've", "We have", tweet)
    tweet = re.sub(r"he'll", "he will", tweet)
    tweet = re.sub(r"Y'all", "You all", tweet)
    tweet = re.sub(r"Weren't", "Were not", tweet)
    tweet = re.sub(r"Didn't", "Did not", tweet)
    tweet = re.sub(r"they'll", "they will", tweet)
    tweet = re.sub(r"they'd", "they would", tweet)
    tweet = re.sub(r"DON'T", "DO NOT", tweet)
    tweet = re.sub(r"That\x89Ûªs", "That is", tweet)
    tweet = re.sub(r"they've", "they have", tweet)
    tweet = re.sub(r"i'd", "I would", tweet)
    tweet = re.sub(r"should've", "should have", tweet)
    tweet = re.sub(r"You\x89Ûªre", "You are", tweet)
    tweet = re.sub(r"where's", "where is", tweet)
    tweet = re.sub(r"Don\x89Ûªt", "Do not", tweet)
    tweet = re.sub(r"we'd", "we would", tweet)
    tweet = re.sub(r"i'll", "I will", tweet)
    tweet = re.sub(r"weren't", "were not", tweet)
    tweet = re.sub(r"They're", "They are", tweet)
    tweet = re.sub(r"Can\x89Ûªt", "Cannot", tweet)
    tweet = re.sub(r"you\x89Ûªll", "you will", tweet)
    tweet = re.sub(r"I\x89Ûªd", "I would", tweet)
    tweet = re.sub(r"let's", "let us", tweet)
    tweet = re.sub(r"it's", "it is", tweet)
    tweet = re.sub(r"can't", "cannot", tweet)
    tweet = re.sub(r"don't", "do not", tweet)
    tweet = re.sub(r"you're", "you are", tweet)
    tweet = re.sub(r"i've", "I have", tweet)
    tweet = re.sub(r"that's", "that is", tweet)
    tweet = re.sub(r"i'll", "I will", tweet)
    tweet = re.sub(r"doesn't", "does not", tweet)
    tweet = re.sub(r"i'd", "I would", tweet)
    tweet = re.sub(r"didn't", "did not", tweet)
    tweet = re.sub(r"ain't", "am not", tweet)
    tweet = re.sub(r"you'll", "you will", tweet)
    tweet = re.sub(r"I've", "I have", tweet)
    tweet = re.sub(r"Don't", "do not", tweet)
    tweet = re.sub(r"I'll", "I will", tweet)
    tweet = re.sub(r"I'd", "I would", tweet)
    tweet = re.sub(r"Let's", "Let us", tweet)
    tweet = re.sub(r"you'd", "You would", tweet)
    tweet = re.sub(r"It's", "It is", tweet)
    tweet = re.sub(r"Ain't", "am not", tweet)
    tweet = re.sub(r"Haven't", "Have not", tweet)
    tweet = re.sub(r"Could've", "Could have", tweet)
    tweet = re.sub(r"youve", "you have", tweet)  
    tweet = re.sub(r"donå«t", "do not", tweet)   
            
    # Character entity references
    tweet = re.sub(r"&gt;", ">", tweet)
    tweet = re.sub(r"&lt;", "<", tweet)
    tweet = re.sub(r"&amp;", "&", tweet)
    
    # Typos, slang and informal abbreviations
    tweet = re.sub(r"w/e", "whatever", tweet)
    tweet = re.sub(r"w/", "with", tweet)
    tweet = re.sub(r"USAgov", "USA government", tweet)
    tweet = re.sub(r"recentlu", "recently", tweet)
    tweet = re.sub(r"Ph0tos", "Photos", tweet)
    tweet = re.sub(r"amirite", "am I right", tweet)
    tweet = re.sub(r"exp0sed", "exposed", tweet)
    tweet = re.sub(r"<3", "love", tweet)
    tweet = re.sub(r"amageddon", "armageddon", tweet)
    tweet = re.sub(r"Trfc", "Traffic", tweet)
    tweet = re.sub(r"8/5/2015", "2015-08-05", tweet)
    tweet = re.sub(r"WindStorm", "Wind Storm", tweet)
    tweet = re.sub(r"8/6/2015", "2015-08-06", tweet)
    tweet = re.sub(r"10:38PM", "10:38 PM", tweet)
    tweet = re.sub(r"10:30pm", "10:30 PM", tweet)
    tweet = re.sub(r"16yr", "16 year", tweet)
    tweet = re.sub(r"lmao", "laughing my ass off", tweet)   
    tweet = re.sub(r"TRAUMATISED", "traumatized", tweet)
    
    # Hashtags and usernames
    tweet = re.sub(r"IranDeal", "Iran Deal", tweet)
    tweet = re.sub(r"ArianaGrande", "Ariana Grande", tweet)
    tweet = re.sub(r"camilacabello97", "camila cabello", tweet) 
    tweet = re.sub(r"RondaRousey", "Ronda Rousey", tweet)     
    tweet = re.sub(r"MTVHottest", "MTV Hottest", tweet)
    tweet = re.sub(r"TrapMusic", "Trap Music", tweet)
    tweet = re.sub(r"ProphetMuhammad", "Prophet Muhammad", tweet)
    tweet = re.sub(r"PantherAttack", "Panther Attack", tweet)
    tweet = re.sub(r"StrategicPatience", "Strategic Patience", tweet)
    tweet = re.sub(r"socialnews", "social news", tweet)
    tweet = re.sub(r"NASAHurricane", "NASA Hurricane", tweet)
    tweet = re.sub(r"onlinecommunities", "online communities", tweet)
    tweet = re.sub(r"humanconsumption", "human consumption", tweet)
    tweet = re.sub(r"Typhoon-Devastated", "Typhoon Devastated", tweet)
    tweet = re.sub(r"Meat-Loving", "Meat Loving", tweet)
    tweet = re.sub(r"facialabuse", "facial abuse", tweet)
    tweet = re.sub(r"LakeCounty", "Lake County", tweet)
    tweet = re.sub(r"BeingAuthor", "Being Author", tweet)
    tweet = re.sub(r"withheavenly", "with heavenly", tweet)
    tweet = re.sub(r"thankU", "thank you", tweet)
    tweet = re.sub(r"iTunesMusic", "iTunes Music", tweet)
    tweet = re.sub(r"OffensiveContent", "Offensive Content", tweet)
    tweet = re.sub(r"WorstSummerJob", "Worst Summer Job", tweet)
    tweet = re.sub(r"HarryBeCareful", "Harry Be Careful", tweet)
    tweet = re.sub(r"NASASolarSystem", "NASA Solar System", tweet)
    tweet = re.sub(r"animalrescue", "animal rescue", tweet)
    tweet = re.sub(r"KurtSchlichter", "Kurt Schlichter", tweet)
    tweet = re.sub(r"aRmageddon", "armageddon", tweet)
    tweet = re.sub(r"Throwingknifes", "Throwing knives", tweet)
    tweet = re.sub(r"GodsLove", "God's Love", tweet)
    tweet = re.sub(r"bookboost", "book boost", tweet)
    tweet = re.sub(r"ibooklove", "I book love", tweet)
    tweet = re.sub(r"NestleIndia", "Nestle India", tweet)
    tweet = re.sub(r"realDonaldTrump", "Donald Trump", tweet)
    tweet = re.sub(r"DavidVonderhaar", "David Vonderhaar", tweet)
    tweet = re.sub(r"CecilTheLion", "Cecil The Lion", tweet)
    tweet = re.sub(r"weathernetwork", "weather network", tweet)
    tweet = re.sub(r"withBioterrorism&use", "with Bioterrorism & use", tweet)
    tweet = re.sub(r"Hostage&2", "Hostage & 2", tweet)
    tweet = re.sub(r"GOPDebate", "GOP Debate", tweet)
    tweet = re.sub(r"RickPerry", "Rick Perry", tweet)
    tweet = re.sub(r"frontpage", "front page", tweet)
    tweet = re.sub(r"NewsInTweets", "News In Tweets", tweet)
    tweet = re.sub(r"ViralSpell", "Viral Spell", tweet)
    tweet = re.sub(r"til_now", "until now", tweet)
    tweet = re.sub(r"volcanoinRussia", "volcano in Russia", tweet)
    tweet = re.sub(r"ZippedNews", "Zipped News", tweet)
    tweet = re.sub(r"MicheleBachman", "Michele Bachman", tweet)
    tweet = re.sub(r"53inch", "53 inch", tweet)
    tweet = re.sub(r"KerrickTrial", "Kerrick Trial", tweet)
    tweet = re.sub(r"abstorm", "Alberta Storm", tweet)
    tweet = re.sub(r"Beyhive", "Beyonce hive", tweet)
    tweet = re.sub(r"IDFire", "Idaho Fire", tweet)
    tweet = re.sub(r"DETECTADO", "Detected", tweet)
    tweet = re.sub(r"RockyFire", "Rocky Fire", tweet)
    tweet = re.sub(r"Listen/Buy", "Listen / Buy", tweet)
    tweet = re.sub(r"NickCannon", "Nick Cannon", tweet)
    tweet = re.sub(r"FaroeIslands", "Faroe Islands", tweet)
    tweet = re.sub(r"yycstorm", "Calgary Storm", tweet)
    tweet = re.sub(r"IDPs:", "Internally Displaced People :", tweet)
    tweet = re.sub(r"ArtistsUnited", "Artists United", tweet)
    tweet = re.sub(r"ClaytonBryant", "Clayton Bryant", tweet)
    tweet = re.sub(r"jimmyfallon", "jimmy fallon", tweet)
    tweet = re.sub(r"justinbieber", "justin bieber", tweet)  
    tweet = re.sub(r"UTC2015", "UTC 2015", tweet)
    tweet = re.sub(r"Time2015", "Time 2015", tweet)
    tweet = re.sub(r"djicemoon", "dj icemoon", tweet)
    tweet = re.sub(r"LivingSafely", "Living Safely", tweet)
    tweet = re.sub(r"FIFA16", "Fifa 2016", tweet)
    tweet = re.sub(r"thisiswhywecanthavenicethings", "this is why we cannot have nice things", tweet)
    tweet = re.sub(r"bbcnews", "bbc news", tweet)
    tweet = re.sub(r"UndergroundRailraod", "Underground Railraod", tweet)
    tweet = re.sub(r"c4news", "c4 news", tweet)
    tweet = re.sub(r"OBLITERATION", "obliteration", tweet)
    tweet = re.sub(r"MUDSLIDE", "mudslide", tweet)
    tweet = re.sub(r"NoSurrender", "No Surrender", tweet)
    tweet = re.sub(r"NotExplained", "Not Explained", tweet)
    tweet = re.sub(r"greatbritishbakeoff", "great british bake off", tweet)
    tweet = re.sub(r"LondonFire", "London Fire", tweet)
    tweet = re.sub(r"KOTAWeather", "KOTA Weather", tweet)
    tweet = re.sub(r"LuchaUnderground", "Lucha Underground", tweet)
    tweet = re.sub(r"KOIN6News", "KOIN 6 News", tweet)
    tweet = re.sub(r"LiveOnK2", "Live On K2", tweet)
    tweet = re.sub(r"9NewsGoldCoast", "9 News Gold Coast", tweet)
    tweet = re.sub(r"nikeplus", "nike plus", tweet)
    tweet = re.sub(r"david_cameron", "David Cameron", tweet)
    tweet = re.sub(r"peterjukes", "Peter Jukes", tweet)
    tweet = re.sub(r"JamesMelville", "James Melville", tweet)
    tweet = re.sub(r"megynkelly", "Megyn Kelly", tweet)
    tweet = re.sub(r"cnewslive", "C News Live", tweet)
    tweet = re.sub(r"JamaicaObserver", "Jamaica Observer", tweet)
    tweet = re.sub(r"TweetLikeItsSeptember11th2001", "Tweet like it is september 11th 2001", tweet)
    tweet = re.sub(r"cbplawyers", "cbp lawyers", tweet)
    tweet = re.sub(r"fewmoretweets", "few more tweets", tweet)
    tweet = re.sub(r"BlackLivesMatter", "Black Lives Matter", tweet)
    tweet = re.sub(r"cjoyner", "Chris Joyner", tweet)
    tweet = re.sub(r"ENGvAUS", "England vs Australia", tweet)
    tweet = re.sub(r"ScottWalker", "Scott Walker", tweet)
    tweet = re.sub(r"MikeParrActor", "Michael Parr", tweet)
    tweet = re.sub(r"4PlayThursdays", "Foreplay Thursdays", tweet)
    tweet = re.sub(r"TGF2015", "Tontitown Grape Festival", tweet)
    tweet = re.sub(r"realmandyrain", "Mandy Rain", tweet)
    tweet = re.sub(r"GraysonDolan", "Grayson Dolan", tweet)
    tweet = re.sub(r"ApolloBrown", "Apollo Brown", tweet)
    tweet = re.sub(r"saddlebrooke", "Saddlebrooke", tweet)
    tweet = re.sub(r"TontitownGrape", "Tontitown Grape", tweet)
    tweet = re.sub(r"AbbsWinston", "Abbs Winston", tweet)
    tweet = re.sub(r"ShaunKing", "Shaun King", tweet)
    tweet = re.sub(r"MeekMill", "Meek Mill", tweet)
    tweet = re.sub(r"TornadoGiveaway", "Tornado Giveaway", tweet)
    tweet = re.sub(r"GRupdates", "GR updates", tweet)
    tweet = re.sub(r"SouthDowns", "South Downs", tweet)
    tweet = re.sub(r"braininjury", "brain injury", tweet)
    tweet = re.sub(r"auspol", "Australian politics", tweet)
    tweet = re.sub(r"PlannedParenthood", "Planned Parenthood", tweet)
    tweet = re.sub(r"calgaryweather", "Calgary Weather", tweet)
    tweet = re.sub(r"weallheartonedirection", "we all heart one direction", tweet)
    tweet = re.sub(r"edsheeran", "Ed Sheeran", tweet)
    tweet = re.sub(r"TrueHeroes", "True Heroes", tweet)
    tweet = re.sub(r"S3XLEAK", "sex leak", tweet)
    tweet = re.sub(r"ComplexMag", "Complex Magazine", tweet)
    tweet = re.sub(r"TheAdvocateMag", "The Advocate Magazine", tweet)
    tweet = re.sub(r"CityofCalgary", "City of Calgary", tweet)
    tweet = re.sub(r"EbolaOutbreak", "Ebola Outbreak", tweet)
    tweet = re.sub(r"SummerFate", "Summer Fate", tweet)
    tweet = re.sub(r"RAmag", "Royal Academy Magazine", tweet)
    tweet = re.sub(r"offers2go", "offers to go", tweet)
    tweet = re.sub(r"foodscare", "food scare", tweet)
    tweet = re.sub(r"MNPDNashville", "Metropolitan Nashville Police Department", tweet)
    tweet = re.sub(r"TfLBusAlerts", "TfL Bus Alerts", tweet)
    tweet = re.sub(r"GamerGate", "Gamer Gate", tweet)
    tweet = re.sub(r"IHHen", "Humanitarian Relief", tweet)
    tweet = re.sub(r"spinningbot", "spinning bot", tweet)
    tweet = re.sub(r"ModiMinistry", "Modi Ministry", tweet)
    tweet = re.sub(r"TAXIWAYS", "taxi ways", tweet)
    tweet = re.sub(r"Calum5SOS", "Calum Hood", tweet)
    tweet = re.sub(r"po_st", "po.st", tweet)
    tweet = re.sub(r"scoopit", "scoop.it", tweet)
    tweet = re.sub(r"UltimaLucha", "Ultima Lucha", tweet)
    tweet = re.sub(r"JonathanFerrell", "Jonathan Ferrell", tweet)
    tweet = re.sub(r"aria_ahrary", "Aria Ahrary", tweet)
    tweet = re.sub(r"rapidcity", "Rapid City", tweet)
    tweet = re.sub(r"OutBid", "outbid", tweet)
    tweet = re.sub(r"lavenderpoetrycafe", "lavender poetry cafe", tweet)
    tweet = re.sub(r"EudryLantiqua", "Eudry Lantiqua", tweet)
    tweet = re.sub(r"15PM", "15 PM", tweet)
    tweet = re.sub(r"OriginalFunko", "Funko", tweet)
    tweet = re.sub(r"rightwaystan", "Richard Tan", tweet)
    tweet = re.sub(r"CindyNoonan", "Cindy Noonan", tweet)
    tweet = re.sub(r"RT_America", "RT America", tweet)
    tweet = re.sub(r"narendramodi", "Narendra Modi", tweet)
    tweet = re.sub(r"BakeOffFriends", "Bake Off Friends", tweet)
    tweet = re.sub(r"TeamHendrick", "Hendrick Motorsports", tweet)
    tweet = re.sub(r"alexbelloli", "Alex Belloli", tweet)
    tweet = re.sub(r"itsjustinstuart", "Justin Stuart", tweet)
    tweet = re.sub(r"gunsense", "gun sense", tweet)
    tweet = re.sub(r"DebateQuestionsWeWantToHear", "debate questions we want to hear", tweet)
    tweet = re.sub(r"RoyalCarribean", "Royal Carribean", tweet)
    tweet = re.sub(r"samanthaturne19", "Samantha Turner", tweet)
    tweet = re.sub(r"JonVoyage", "Jon Stewart", tweet)
    tweet = re.sub(r"renew911health", "renew 911 health", tweet)
    tweet = re.sub(r"SuryaRay", "Surya Ray", tweet)
    tweet = re.sub(r"pattonoswalt", "Patton Oswalt", tweet)
    tweet = re.sub(r"minhazmerchant", "Minhaz Merchant", tweet)
    tweet = re.sub(r"TLVFaces", "Israel Diaspora Coalition", tweet)
    tweet = re.sub(r"pmarca", "Marc Andreessen", tweet)
    tweet = re.sub(r"pdx911", "Portland Police", tweet)
    tweet = re.sub(r"jamaicaplain", "Jamaica Plain", tweet)
    tweet = re.sub(r"Japton", "Arkansas", tweet)
    tweet = re.sub(r"RouteComplex", "Route Complex", tweet)
    tweet = re.sub(r"INSubcontinent", "Indian Subcontinent", tweet)
    tweet = re.sub(r"NJTurnpike", "New Jersey Turnpike", tweet)
    tweet = re.sub(r"Politifiact", "PolitiFact", tweet)
    tweet = re.sub(r"Hiroshima70", "Hiroshima", tweet)
    tweet = re.sub(r"GMMBC", "Greater Mt Moriah Baptist Church", tweet)
    tweet = re.sub(r"versethe", "verse the", tweet)
    tweet = re.sub(r"TubeStrike", "Tube Strike", tweet)
    tweet = re.sub(r"MissionHills", "Mission Hills", tweet)
    tweet = re.sub(r"ProtectDenaliWolves", "Protect Denali Wolves", tweet)
    tweet = re.sub(r"NANKANA", "Nankana", tweet)
    tweet = re.sub(r"SAHIB", "Sahib", tweet)
    tweet = re.sub(r"PAKPATTAN", "Pakpattan", tweet)
    tweet = re.sub(r"Newz_Sacramento", "News Sacramento", tweet)
    tweet = re.sub(r"gofundme", "go fund me", tweet)
    tweet = re.sub(r"pmharper", "Stephen Harper", tweet)
    tweet = re.sub(r"IvanBerroa", "Ivan Berroa", tweet)
    tweet = re.sub(r"LosDelSonido", "Los Del Sonido", tweet)
    tweet = re.sub(r"bancodeseries", "banco de series", tweet)
    tweet = re.sub(r"timkaine", "Tim Kaine", tweet)
    tweet = re.sub(r"IdentityTheft", "Identity Theft", tweet)
    tweet = re.sub(r"AllLivesMatter", "All Lives Matter", tweet)
    tweet = re.sub(r"mishacollins", "Misha Collins", tweet)
    tweet = re.sub(r"BillNeelyNBC", "Bill Neely", tweet)
    tweet = re.sub(r"BeClearOnCancer", "be clear on cancer", tweet)
    tweet = re.sub(r"Kowing", "Knowing", tweet)
    tweet = re.sub(r"ScreamQueens", "Scream Queens", tweet)
    tweet = re.sub(r"AskCharley", "Ask Charley", tweet)
    tweet = re.sub(r"BlizzHeroes", "Heroes of the Storm", tweet)
    tweet = re.sub(r"BradleyBrad47", "Bradley Brad", tweet)
    tweet = re.sub(r"HannaPH", "Typhoon Hanna", tweet)
    tweet = re.sub(r"meinlcymbals", "MEINL Cymbals", tweet)
    tweet = re.sub(r"Ptbo", "Peterborough", tweet)
    tweet = re.sub(r"cnnbrk", "CNN Breaking News", tweet)
    tweet = re.sub(r"IndianNews", "Indian News", tweet)
    tweet = re.sub(r"savebees", "save bees", tweet)
    tweet = re.sub(r"GreenHarvard", "Green Harvard", tweet)
    tweet = re.sub(r"StandwithPP", "Stand with planned parenthood", tweet)
    tweet = re.sub(r"hermancranston", "Herman Cranston", tweet)
    tweet = re.sub(r"WMUR9", "WMUR-TV", tweet)
    tweet = re.sub(r"RockBottomRadFM", "Rock Bottom Radio", tweet)
    tweet = re.sub(r"ameenshaikh3", "Ameen Shaikh", tweet)
    tweet = re.sub(r"ProSyn", "Project Syndicate", tweet)
    tweet = re.sub(r"Daesh", "ISIS", tweet)
    tweet = re.sub(r"s2g", "swear to god", tweet)
    tweet = re.sub(r"listenlive", "listen live", tweet)
    tweet = re.sub(r"CDCgov", "Centers for Disease Control and Prevention", tweet)
    tweet = re.sub(r"FoxNew", "Fox News", tweet)
    tweet = re.sub(r"CBSBigBrother", "Big Brother", tweet)
    tweet = re.sub(r"JulieDiCaro", "Julie DiCaro", tweet)
    tweet = re.sub(r"theadvocatemag", "The Advocate Magazine", tweet)
    tweet = re.sub(r"RohnertParkDPS", "Rohnert Park Police Department", tweet)
    tweet = re.sub(r"THISIZBWRIGHT", "Bonnie Wright", tweet)
    tweet = re.sub(r"Popularmmos", "Popular MMOs", tweet)
    tweet = re.sub(r"WildHorses", "Wild Horses", tweet)
    tweet = re.sub(r"FantasticFour", "Fantastic Four", tweet)
    tweet = re.sub(r"HORNDALE", "Horndale", tweet)
    tweet = re.sub(r"PINER", "Piner", tweet)
    tweet = re.sub(r"BathAndNorthEastSomerset", "Bath and North East Somerset", tweet)
    tweet = re.sub(r"thatswhatfriendsarefor", "that is what friends are for", tweet)
    tweet = re.sub(r"residualincome", "residual income", tweet)
    tweet = re.sub(r"YahooNewsDigest", "Yahoo News Digest", tweet)
    tweet = re.sub(r"MalaysiaAirlines", "Malaysia Airlines", tweet)
    tweet = re.sub(r"AmazonDeals", "Amazon Deals", tweet)
    tweet = re.sub(r"MissCharleyWebb", "Charley Webb", tweet)
    tweet = re.sub(r"shoalstraffic", "shoals traffic", tweet)
    tweet = re.sub(r"GeorgeFoster72", "George Foster", tweet)
    tweet = re.sub(r"pop2015", "pop 2015", tweet)
    tweet = re.sub(r"_PokemonCards_", "Pokemon Cards", tweet)
    tweet = re.sub(r"DianneG", "Dianne Gallagher", tweet)
    tweet = re.sub(r"KashmirConflict", "Kashmir Conflict", tweet)
    tweet = re.sub(r"BritishBakeOff", "British Bake Off", tweet)
    tweet = re.sub(r"FreeKashmir", "Free Kashmir", tweet)
    tweet = re.sub(r"mattmosley", "Matt Mosley", tweet)
    tweet = re.sub(r"BishopFred", "Bishop Fred", tweet)
    tweet = re.sub(r"EndConflict", "End Conflict", tweet)
    tweet = re.sub(r"EndOccupation", "End Occupation", tweet)
    tweet = re.sub(r"UNHEALED", "unhealed", tweet)
    tweet = re.sub(r"CharlesDagnall", "Charles Dagnall", tweet)
    tweet = re.sub(r"Latestnews", "Latest news", tweet)
    tweet = re.sub(r"KindleCountdown", "Kindle Countdown", tweet)
    tweet = re.sub(r"NoMoreHandouts", "No More Handouts", tweet)
    tweet = re.sub(r"datingtips", "dating tips", tweet)
    tweet = re.sub(r"charlesadler", "Charles Adler", tweet)
    tweet = re.sub(r"twia", "Texas Windstorm Insurance Association", tweet)
    tweet = re.sub(r"txlege", "Texas Legislature", tweet)
    tweet = re.sub(r"WindstormInsurer", "Windstorm Insurer", tweet)
           
    # Urls
    tweet = re.sub(r"https?:\/\/t.co\/[A-Za-z0-9]+", "", tweet)
        
    # Words with punctuations and special characters
    punctuations = '@#!?+&*[]-%.:/();$=><|{}^' + "'`"
    for p in punctuations:
        tweet = tweet.replace(p, f' {p} ')
        
    # ... and ..
    tweet = tweet.replace('...', ' ... ')
    if '...' not in tweet:
        tweet = tweet.replace('..', ' ... ')      
        
    # Acronyms
    tweet = re.sub(r"MH370", "Malaysia Airlines Flight 370", tweet)
    tweet = re.sub(r"mÌ¼sica", "music", tweet)
    tweet = re.sub(r"okwx", "Oklahoma City Weather", tweet)
    tweet = re.sub(r"arwx", "Arkansas Weather", tweet)    
    tweet = re.sub(r"gawx", "Georgia Weather", tweet)  
    tweet = re.sub(r"scwx", "South Carolina Weather", tweet)  
    tweet = re.sub(r"cawx", "California Weather", tweet)
    tweet = re.sub(r"tnwx", "Tennessee Weather", tweet)
    tweet = re.sub(r"azwx", "Arizona Weather", tweet)    
    tweet = re.sub(r"wordpressdotcom", "wordpress", tweet)    
    tweet = re.sub(r"usNWSgov", "United States National Weather Service", tweet)
    tweet = re.sub(r"Suruc", "Sanliurfa", tweet)   
    
    # Grouping same words without embeddings
    tweet = re.sub(r"Bestnaijamade", "bestnaijamade", tweet)
    tweet = re.sub(r"SOUDELOR", "Soudelor", tweet)
    
    return tweet

In [74]:
data_train.head()

,id,keyword,location,text,target,clean_text
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deeds reason #earthquake may allah forgive us
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,residents asked shelter place notified officer...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive #wildfires evacuation or..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby #alaska smoke #wildfires p...

In [75]:
data_train['clean_text1']=data_train['clean_text'].apply(lambda x:clean1(x))
data_test['clean_text1']=data_test['clean'].apply(lambda x:clean1(x))

In [76]:
data_train.head()

,id,keyword,location,text,target,clean_text,clean_text1
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deeds reason #earthquake may allah forgive us,deeds reason # earthquake may allah forgive us
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada,forest fire near la ronge sask canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,residents asked shelter place notified officer...,residents asked shelter place notified officer...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive #wildfires evacuation or...","13,000 people receive # wildfires evacuation ..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby #alaska smoke #wildfires p...,got sent photo ruby # alaska smoke # wildfir...

In [77]:
X=data_train.clean_text1.values
Y=data_train['target']

In [78]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,Y,test_size=0.10,random_state=42)

In [79]:
from sklearn.feature_extraction.text import TfidfVectorizer
count_vect=TfidfVectorizer(max_features=3000)
x_train_bow=count_vect.fit_transform(X_train)
x_test_bow=count_vect.transform(X_test)
x_ttest_bow=count_vect.transform(data_test.clean.values)

In [80]:
print(x_train_bow.shape,x_test_bow.shape)

(6851, 3000) (762, 3000)

In [81]:
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.naive_bayes import MultinomialNB
alpa=[0.1,0.2,0.01,0.5,0.05,1,1.5]
for i in alpa:
    nb=MultinomialNB(alpha=i)
    nb.fit(x_train_bow,y_train)
    print(i,":",accuracy_score(y_test,nb.predict(x_test_bow))*100)

0.1 : 77.69028871391076
0.2 : 77.69028871391076
0.01 : 76.9028871391076
0.5 : 77.03412073490814
0.05 : 77.16535433070865
1 : 76.77165354330708
1.5 : 76.9028871391076

In [82]:
from sklearn.svm import LinearSVC
sv=LinearSVC()
sv.fit(x_train_bow,y_train)
accuracy_score(y_test,sv.predict(x_test_bow))*100

76.64041994750657

In [83]:
X=data_train.clean_text1.values
Y=data_train['target']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,Y,test_size=0.10,random_state=42)

from sklearn.feature_extraction.text import TfidfVectorizer
count_vect=TfidfVectorizer(max_features=1200)
x_train_bow=count_vect.fit_transform(X_train)
x_test_bow=count_vect.transform(X_test)
x_ttest_bow=count_vect.transform(data_test.clean.values)

print(x_train_bow.shape,x_test_bow.shape)

from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.naive_bayes import MultinomialNB
alpa=[0.1,0.2,0.01,0.5,0.05,1,1.5]
for i in alpa:
    nb=MultinomialNB(alpha=i)
    nb.fit(x_train_bow,y_train)
    print(i,":",accuracy_score(y_test,nb.predict(x_test_bow))*100)

from sklearn.svm import LinearSVC
sv=LinearSVC()
sv.fit(x_train_bow,y_train)
accuracy_score(y_test,sv.predict(x_test_bow))*100

(6851, 1200) (762, 1200)
0.1 : 76.50918635170603
0.2 : 76.50918635170603
0.01 : 76.64041994750657
0.5 : 76.77165354330708
0.05 : 76.64041994750657
1 : 76.77165354330708
1.5 : 77.16535433070865

76.24671916010499

In [84]:
data_train.head()

,id,keyword,location,text,target,clean_text,clean_text1
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deeds reason #earthquake may allah forgive us,deeds reason # earthquake may allah forgive us
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada,forest fire near la ronge sask canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,residents asked shelter place notified officer...,residents asked shelter place notified officer...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive #wildfires evacuation or...","13,000 people receive # wildfires evacuation ..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby #alaska smoke #wildfires p...,got sent photo ruby # alaska smoke # wildfir...

In [85]:
data_test.head()

,id,keyword,location,text,clean,clean_text1
0,0,NaN,NaN,Just happened a terrible car crash,happened terrible car crash,happened terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",heard #earthquake different cities stay safe e...,heard # earthquake different cities stay safe...
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",forest fire spot pond geese fleeing across str...,forest fire spot pond geese fleeing across str...
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,apocalypse lighting #spokane #wildfires,apocalypse lighting # spokane # wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,typhoon soudelor kills 28 china taiwan,typhoon soudelor kills 28 china taiwan

In [86]:
data_train['word_count']=data_train['clean_text1'].apply(lambda x:len(wt(x)))
data_test['word_count']=data_test['clean_text1'].apply(lambda x:len(wt(x)))

In [87]:
data_train.head()

,id,keyword,location,text,target,clean_text,clean_text1,word_count
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deeds reason #earthquake may allah forgive us,deeds reason # earthquake may allah forgive us,8
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada,forest fire near la ronge sask canada,7
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,residents asked shelter place notified officer...,residents asked shelter place notified officer...,11
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive #wildfires evacuation or...","13,000 people receive # wildfires evacuation ...",8
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby #alaska smoke #wildfires p...,got sent photo ruby # alaska smoke # wildfir...,11

In [88]:
data_train['pun_count']=data_train['clean_text'].apply(lambda x:len([i for i in wt(x) if i in pun]))

In [89]:
data_train.head()

,id,keyword,location,text,target,clean_text,clean_text1,word_count,pun_count
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deeds reason #earthquake may allah forgive us,deeds reason # earthquake may allah forgive us,8,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada,forest fire near la ronge sask canada,7,0
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,residents asked shelter place notified officer...,residents asked shelter place notified officer...,11,0
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive #wildfires evacuation or...","13,000 people receive # wildfires evacuation ...",8,1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby #alaska smoke #wildfires p...,got sent photo ruby # alaska smoke # wildfir...,11,2

In [92]:
X=data_train.clean_text1.values
Y=data_train['target']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,Y,test_size=0.10,random_state=42)

from sklearn.feature_extraction.text import TfidfVectorizer
count_vect=TfidfVectorizer()
x_train_bow=count_vect.fit_transform(X_train)
x_test_bow=count_vect.transform(X_test)
x_ttest_bow=count_vect.transform(data_test.clean.values)

print(x_train_bow.shape,x_test_bow.shape)

from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.naive_bayes import MultinomialNB
alpa=[0.1,0.2,0.01,0.5,0.05,1,1.5]
for i in alpa:
    nb=MultinomialNB(alpha=i)
    nb.fit(x_train_bow,y_train)
    print(i,":",accuracy_score(y_test,nb.predict(x_test_bow))*100)

from sklearn.svm import LinearSVC
sv=LinearSVC()
sv.fit(x_train_bow,y_train)
accuracy_score(y_test,sv.predict(x_test_bow))*100

(6851, 15837) (762, 15837)
0.1 : 77.29658792650919
0.2 : 77.16535433070865
0.01 : 76.24671916010499
0.5 : 77.29658792650919
0.05 : 77.55905511811024
1 : 77.69028871391076
1.5 : 77.82152230971128

77.03412073490814